/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.form {
  width: 100%;
  max-width: 300px;
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.gallery__item {
  width: calc((100% - 96px) / 5);
  text-decoration: none;
}

.gallery__image {
  width: 100%;
  display: block;
}

.info {
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
}

.info-item {
  margin: 4px 0;
}
